*{
   margin:0;
   padding:0;
   font-size:16px;
   font-family:"微软雅黑";
}
.nav{
   height:70px;
   margin-top:0px;
   margin-left:10px;
}
.nav ul{
   list-style:none;
}
/*设置的关键*/
#logo{
	float: left;
}
.nav li{
   float:left;
}
#sighin{
	float: right;
}
.nav li a{
    //background-color:#EEEEEE;
    text-decoration:none;
    color:#000000;
    display:block;
    width:90px;
    height:70px;
    line-height:70px;
    text-align:center;
    margin-right:50px;
}
.nav li a:hover{
    background-color:#FF6600;
    color:#FFFFFF;
}